/nbproject/
/src/data-*/
/src/DQLOG-*/
/src/wxtlogger_t
/src/dqLogger/DQLOG-*/
/src/pid.txt
/src/voltage_anemometer/WindSpeedLog-*/
/src/voltage_anemometer/WXLOG-*/
/src/nohup.out
/src/nohup.out.ioerror