[Unit]
Description=Start barometer logger
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/pi/parosReader/src/voltage_anemometer
ExecStart=/home/pi/parosReader/src/voltage_anemometer/run-mq.sh
Restart=Always

[Install]
WantedBy=multi-user.target