[Unit]
Description=FRPC reverse proxy service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/pi/parosReader/bin/frpc -c /home/pi/parosReader/bin/frpc.ini
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target
