[Unit]
Description=FRPC Daemon
After=network-online.target,time-sync.target
Wants=network-online.target,time-sync.target

[Service]
WorkingDirectory=/home/pi/parosReader/src/baroLogger
ExecStart=/home/pi/parosReader/run/frpc.sh
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target