[Unit]
Description=NGROK SSH service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/pi/parosReader/bin/ngrok tcp 22 --log=stdout
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target